<html>

<body>

    <h1>Please Register</h1>
    <form class="register">
        <form #registerForm="ngForm">
            <input class="firstname" type="text" placeholder="First Name*" id="firstname" [(ngModel)]="user.firstname"
                name="firstname" required #firstName="ngModel">
            <div class="dangerFirstName" [hidden]="firstName.valid || firstName.pristine">
                Required field*
            </div>
            <input class="lastname" type="text" placeholder="Last Name*" id="lastname" [(ngModel)]="user.lastname"
                name="lastname" required #lastName="ngModel">
            <div class="dangerLastName" [hidden]="lastName.valid || lastName.pristine">
                Required field*
            </div>
            <br>
            <input class="email" type="text" placeholder="Email*" id="email" [(ngModel)]="user.email" name="email"
                required #Email="ngModel">
            <br>
            <div class="dangerEmail" [hidden]="Email.valid || Email.pristine">
                Required field*

            </div>
            <input class="password" type="password" placeholder="Password*" id="password" [(ngModel)]="user.password"
                name="password" minlength="8" required #Password="ngModel">
            <div class="dangerPassword" *ngIf="Password.errors && Password.dirty && Password.touched">
                <div *ngIf="Password.errors.required">Required field*</div>
                <div *ngIf="Password.errors.minlength">Week Password</div>
            </div>
            <br>
            <input class="gender" type="text" placeholder="Gender" id="gender" [(ngModel)]="user.gender" name="gender">
            <br>
            <!-- <br><label for="dob">Date of Birth</label><br>
        <input type="text" placeholder="Date of Birth" id="dob" [(ngModel)]="dob" name="dob">
        <br> -->
        </form>
        <input *ngIf="!registering" class="button" type="button" (click)="registered()" value="Register">
        <input *ngIf="registering" class="button0" type="button" value="Registering" [disabled]="registering">
    </form>
    <span> Back to Login
        <a [routerLink]="['/login']">Login</a>
    </span>
</body>

</html>