input[type=text], select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
      width: 30%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }
  input[type=button] {
    width: 20%;
    background-color: rgb(83, 16, 16);
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 20%;
    transform: translate(-50%, -50%);
    
  }
  
  p.Welcome {
      margin: 0;
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
  }

  .register {
    font-family: 'Ubuntu', 'Lato', sans-serif;
    font-weight: 500;
    font-style: oblique;
        /* Size and position */
    width: 800px;
    height: 100px;
    position: absolute;
    margin: 150px ;
    padding: 150px;
    overflow: hidden;
    top : 10%;
    /* Styles */
    background: rgb(117, 30, 30); 
    border-radius: 1em;
    border: 1px solid #191919;
    box-shadow: 
    inset 0 0 2px 1px rgb(117, 30, 30), 
    0 16px 10px -8px rgb(117, 30, 30);
}
  
h1{
  font-family: 'Ubuntu', 'Lato', sans-serif;
   color : rgb(196, 193, 193);
    font-weight: 400;
    /* Size and position */
    width:400px;
    position: relative;
    padding: 10px;
    
      /* Styles */
      background: rgb(117, 30, 30); 
      border-radius: 0.1em;
      border: 1px solid #191919;
      box-shadow: 
          inset 0 0 2px 1px rgb(117, 30, 30), 
          0 16px 10px -8px rgb(117, 30, 30);
}

.button {
  background-color: white; 
  color: black; 
  border: 2px solid rgb(117, 30, 30);
  margin: 0;
  position: absolute ;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.button0 {
  position: absolute ;
  top: 90%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.button:hover {
  background-color:rgb(99, 145, 214);
  color: white;
}
.firstname{
  margin: 0;
  position: absolute;
  top: 15%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.lastname{
  margin: 0;
  position: absolute;
  top: 15%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.email{
  margin: 0;
  position: absolute;
  top: 35%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.password{
  margin: 0;
  position: absolute;
  top: 55%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.gender{
  margin: 0;
  position: absolute;
  top: 75%;
  left: 25%;
  transform: translate(-50%, -50%);
}
.dangerFirstName{
  color: white;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 10%;
}
.dangerLastName{
  color: white;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 45%;
}

.dangerEmail{
  color: white;
  margin: 0;
  position: absolute;
  top: 45%;
  left: 10%;
}
.dangerPassword{
  color: white;
  margin: 0;
  position: absolute;
  top: 65%;
  left: 10%;
}
.dangerGender{
  color: white;
  margin: 0;
  position: absolute;
  top: 25%;
  left: 10%;
}

span{
  color: white;
  left :75%;
  top :92%;
  position : absolute;
  background-color: rgb(87, 21, 21);
  border-radius: 14px;
  font-style: normal;
  padding: 0.5%;
}