<!DOCTYPE html>
<html>

<body>
    <div class=login>
        <form>
            <form #loginForm="ngForm">
                <label for="username">Username</label><br>
                <input type="text" id="username" [(ngModel)]="user.username" name="username"><br><br>
                <label for="password">Password</label><br>
                <input type="password" id="password" [(ngModel)]="user.password" name="password"><br><br>
                <input *ngIf=!submitting type="button" value="Login" (click)="login()">
                <input *ngIf=submitting type="button" value="Logging in..." [disabled]='submitting'>
            </form>
        </form>

        <p class="Welcome"> <br>Ivoice Manager</p>
        <span>
            Forgot Password ?
            <a [routerLink]="['/../auth/forgot-password']"> Forgot Password</a><br>
            Do you want to register ?
            <a [routerLink]="['/../auth/register']">Register</a>
        </span>
    </div>
  
</body>

</html>