html
<title>expressjs</title>
head
<h2>expressnodejs</h2>

body
span login page </span>
<br>
<br>
<br>

    form(method = "POST")
        input(type = "text",placeholder = "username",name = "username")
        <br>
        <br>
        input(type = 'password',placeholder = 'password', name = 'password')
        <br>
        <br>

        input(type ='submit',value = 'login')


        br
        br

span you dont have account?
a(href="auth/register") register
