h1{
background-color :  rgb(87, 21, 21) ;
color : white;
width : 32%;
padding :0.5%;
left: 35%;
position: absolute;
border-radius: 12px;
box-shadow: 
inset 0 0 2px 1px rgb(117, 30, 30), 
0 16px 10px -8px rgb(117, 30, 30);
}